body {
    font-size: 1em;
    line-height: 1.6em;
    margin: 2em auto;
    max-width: 40em;
    font-family: Georgia, serif;
    color: #222;
}

h1, h2, h3 {
    font-family: "Trebuchet MS", sans-serif;
}

h1 {
    margin-bottom: 0.2em;
}

.tagline {
    font-style: italic;
    color: #555;
    margin-bottom: 2em;
}

ul {
    list-style-type: square;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 4em;
    font-size: 0.9em;
    color: #777;
    border-top: 1px solid #eee;
    padding-top: 1em;
}
